<div class="step-container">
  <!-- Step 1: Request Reset Code -->
  <h2>Reset Password</h2>
  <div *ngIf="currentStep === 1">
    <form [formGroup]="emailForm" (ngSubmit)="requestPasswordReset(2)">
      <input type="email" formControlName="email" placeholder="Enter your email" autocomplete="off">
      <button type="submit" [disabled]="!emailForm.valid">Request Code</button>
    </form>
  </div>
  <!-- Step 2: Enter Reset Code and New Password -->
  <div *ngIf="currentStep === 2">
    <form [formGroup]="resetForm" (ngSubmit)="finalizeReset()">
      <input type="text" formControlName="resetCode" placeholder="Enter reset code" autocomplete="off">
      <input type="password" formControlName="newPassword" placeholder="New Password" autocomplete="new-password">
      <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
    </form>
  </div>
  <!-- Step 3: Success Message -->
  <div *ngIf="currentStep === 3">
    <p>Password reset successfully! Please log in with your new password.</p>
    <a class="login-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/login" routerLinkActive="active"
      aria-label="Sign in to your account"> Sign in here </a>
    <button (click)="resetStepper()">Reset</button>
  </div>
</div>