<div class="projects-page-container">
  <mat-tab-group>
    <mat-tab label="Overview">
      <diary-dawn-overview-tab></diary-dawn-overview-tab>
    </mat-tab>
    <mat-tab label="Features">
      <diary-dawn-features-tab></diary-dawn-features-tab>
    </mat-tab>
    <mat-tab label="Technologies">
      <diary-dawn-technologies-tab></diary-dawn-technologies-tab>
    </mat-tab>
    <!-- <mat-tab label="User Testimonials">
      <diary-dawn-testimonials-tab></app-testimonials-tab>
    </mat-tab> -->
  </mat-tab-group>
</div>