<div class="features-container">
  <h2>Main Features</h2>
  <ul>
    <li><strong>AI Classifiers:</strong> Advanced machine learning models analyze diary entries to provide personalized
      feedback and insights based on psychological frameworks.</li>
    <li><strong>Secure Storage:</strong> All data is securely stored using robust encryption methods, ensuring user
      privacy and data protection.</li>
    <li><strong>Insights and Analysis:</strong> Users receive detailed reports and visualizations that help them
      understand patterns and trends in their diary entries.</li>
    <li><strong>ChatGPT Integration:</strong> Integrated ChatGPT functionality provides interactive support and
      additional insights, enhancing the user experience.</li>
    <li><strong>Real-Time Data Processing:</strong> The application processes data in real-time, offering immediate
      insights.</li>
    <li><strong>Intuitive User Interface:</strong> A user-friendly design makes it easy for anyone to navigate and use
      the app's features effectively.</li>
    <li><strong>Diary Entry Management:</strong> Easy-to-use tools for creating, editing, and organizing diary entries.
    </li>
    <li><strong>Mobile-Friendly:</strong> Responsive design ensures a seamless experience on both desktop and mobile
      devices.</li>
    <li><strong>Bookshelf:</strong> Create and manage multiple books with customizable titles and descriptions. Transfer
      pages between books and access features like "Discover your superpowers."</li>
    <li><strong>Diary Type Selection:</strong> Choose from seven different diary types: Affirmation, Gratitude,
      Limitless (Regular diary type), Emotion, Dream symbols, Lesson, and Journey.</li>
  </ul>
  <div class="screenshots">
    <h3>Screenshots</h3>
    <ul>
      <li>Secure Storage</li>
      <img src="assets/images/register_example.png" alt="Register Example">
      <img src="assets/images/login_example.png" alt="Login Example">
      <li>Insights and Analysis</li>
      <img src="assets/images/superpowers_generation_example.png" alt="Insights and Analysis Screenshot">
      <img class="large-image" src="assets/images/insights_zoomin_example.png" alt="Insights Zoom-in Screenshot">
      <span class="sub-label">Zoomed In</span>
      <li>ChatGPT Integration</li>
      <img src="assets/images/chatgpt_example.png" alt="ChatGPT Integration Screenshot">
      <img class="large-image" src="assets/images/chatgpt_zoomin_example.png"
        alt="ChatGPT Integration Zoom-in Screenshot">
      <span class="sub-label">Zoomed In</span>
      <li>Bookshelf</li>
      <img src="assets/images/bookshelf_example.png" alt="Bookshelf Screenshot">
      <img class="large-image" src="assets/images/bookshelf_zoomin_example.png" alt="Bookshelf Zoom-in Screenshot">
      <span class="sub-label">Zoomed In</span>
      <li>Diary Entry</li>
      <img src="assets/images/diary_entry_example.png" alt="Diary Entry Screenshot">
      <img class="large-image" src="assets/images/diary_entry_zoomin_example.png" alt="Diary Entry Zoom-in Screenshot">
      <span class="sub-label">Zoomed In</span>
      <img class="large-image" src="assets/images/diary_entry_extras_zoomin_example.png"
        alt="Diary Entry Extras Zoom-in Screenshot">
      <span class="sub-label">Zoomed In</span>
      <li>Diary Type Selection</li>
      <img src="assets/images/diary_type_selection_example.png" alt="Diary Selection Screenshot">
    </ul>
  </div>
</div>