.prompt {
  font-family: Arial;
  color: var(--gratitude-diary-dark);
  text-align: center; /* Centers the text if you prefer a centered alignment */
  font-style: italic;
  font-size: 1.1rem;
}

mat-form-field {
  width: 100%;
  overflow-y: auto; // Adds a scrollbar if the text area is too long
}

.text-area-common {
  padding: 10px; // Adds padding inside the text area
  font-family: Arial, sans-serif;
  font-size: 1rem;
  overflow-y: auto; // Adds a scrollbar if the text area is too long
}
