<div class="visuals-container">
  <h1>Cortex Connections Visuals</h1>
  <h2>Dictionary Learning Maps</h2>
  <div class="visual-group">
    <img src="assets/images/adhd_dict_maps.png" alt="ADHD Dictionary Learning Map - Event 1" class="visual-image">
    <img src="assets/images/neurotypical_dict_maps.png" alt="Neurotypical Dictionary Learning Map - Event 1"
      class="visual-image">
  </div>
  <h2>Region Extraction Maps</h2>
  <div class="visual-group">
    <img src="assets/images/adhd_region_extract.png" alt="ADHD Region Extraction Map - Event 1" class="visual-image">
    <img src="assets/images/typical_region_extract.png" alt="Neurotypical Region Extraction Map - Event 1"
      class="visual-image">
  </div>
  <h2>Correlation Plots</h2>
  <div class="visual-group">
    <img src="assets/images/adhd_cor.png" alt="ADHD Correlation Brain - Event 1" class="visual-image"> <img
      src="assets/images/typical_cor.png" alt="Neurotypical Correlation Brain - Event 1" class="visual-image">
  </div>
  <h2>Correlation Matrices</h2>
  <div class="visual-group">
    <img src="assets/images/adhd_cor_matrix.png" alt="ADHD Correlation Matrix - Event 1" class="visual-image">
    <img src="assets/images/typical_cor_matrix.png" alt="Neurotypical Correlation Matrix - Event 1"
      class="visual-image">
  </div>
  <h2>Seed-Based Connectivity</h2>
  <div class="visual-group">
    <img src="assets/images/adhd_seed_based_glm.png" alt="ADHD Seed-Based Connectivity - Event 1" class="visual-image">
    <img src="assets/images/neurotypical_seed_based_glm.png" alt="Neurotypical Seed-Based Connectivity - Event 1"
      class="visual-image">
  </div>
</div>