<div class="overview-container">
  <h1>Cortex Connections Overview</h1>
  <p> Cortex Connections is a neuroscience project aimed at exploring the differences in brain connectivity between
    individuals with ADHD and neurotypical individuals. Using advanced neuroimaging techniques and machine learning
    algorithms, I analyze brain activity to uncover unique patterns and insights. </p>
  <h2>Project Goals</h2>
  <ul>
    <li>Visualize and compare brain connectivity in ADHD and neurotypical individuals.</li>
    <li>Identify potential biomarkers for ADHD.</li>
    <li>Enhance our understanding of brain function and connectivity.</li>
  </ul>
  <h2>Methodology</h2>
  <p> I utilize fMRI data and employ techniques such as dictionary learning and seed-based GLM to analyze brain
    activity. My process involves: </p>
  <ol>
    <li>Collecting and preprocessing fMRI data from participants.</li>
    <li>Applying advanced neuroimaging techniques to extract meaningful patterns.</li>
    <li>Comparing and contrasting the results to draw significant conclusions.</li>
  </ol>
  <h2>Significance</h2>
  <p> The findings from Cortex Connections stem from a desire to contribute to the field of neuroscience, offering
    deeper insights into the neural mechanisms underlying ADHD. I am hopeful that explorations of this kind may inform
    future treatments and interventions, improving the lives of those affected by ADHD. </p>
</div>