.overview-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--dream-diary-dark);
  }

  ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;

    li {
      margin-bottom: 10px;
    }
  }
}
