<div class="chatgpt-section">
  <h2 class="chat-heading">Discuss Your Superpowers</h2>
  <p class="chat-intro"> Explore your superpowers further by chatting with the AI tool provided here. This tool
    demonstrates advanced prompt engineering techniques for psychological analysis using models like OCEAN, DISC, and
    VARK. If you haven't generated your superpowers yet, please click on the 'Experience My Classifiers' button on the
    homepage first. Alternatively, you can discuss any traits, feelings, or behaviors you wish to explore. </p>
  <app-chatgpt-interface></app-chatgpt-interface>
</div>