<ng-container>
  <mat-form-field appearance="fill">
    <mat-label>Journey Diary Entry</mat-label>
    <textarea class="text-area-common" (input)="onValueChange($event)" [(ngModel)]="entryTypeData"
      [fontColor]="'var(--journey-diary)'" [readonly]="(isPreviousEntryEnabled$ | async)" appAutosize matInput rows="5"
      aria-describedby="journeyInstructions"></textarea>
  </mat-form-field>
  <p class="prompt" id="journeyInstructions">Describe a personal goal or destination you're working towards. Explain the
    steps you're taking to achieve it and the challenges you're facing along the way.</p>
</ng-container>