<div class="project-details">
  <section class="personal-info">
    <h1>Diary Dawn Project</h1>
    <p>Created by: Matthew Ray Wilder</p>
    <p>Section: <em>02 | CRN: 20595 | Online</em></p>
  </section>
  <h2>Links</h2>
  <ul class="bullet-list">
    <li><a href="https://github.com/mwilder2/diarydawn-frontend" target="_blank">Frontend Repository</a></li>
    <li><a href="https://github.com/mwilder2/diarydawn-backend" target="_blank">Backend Repository</a></li>
    <li><a href="https://github.com/mwilder2/diarydawn-ml-service" target="_blank">ML Service</a></li>
    <li><a href="https://diarydawn.com" target="_blank">Live Website</a></li>
  </ul>
</div>