.confirmation-dialog {
  width: 500px;
  font-size: 1.5rem;
  margin: 10px auto;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 599px) {
    /* Styles for extra small devices */
    .confirmation-dialog {
      max-width: 300px;
      font-size: 1rem;
    }

    mat-dialog-actions {
      display: flex;
      justify-content: space-evenly;
    }
}