.technologies-container {
  margin-top: 2rem;
  padding: 2rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.technologies-container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.technologies-container ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.technologies-container ul li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.technologies-container ul li strong {
  color: var(--original-color);
}

.technologies-container .explanations {
  margin-top: 1rem;
}
