<div class="projects-selection">
  <div class="project" id="diary-dawn">
    <div class="project-visual">
      <img src="assets/images/bookshelf_example.png" alt="Diary Dawn Bookshelf Image" class="project-image">
      <img src="assets/images/shortened-superpowers-example.png" alt="Diary Dawn Superpower Image"
        class="project-image">
    </div>
    <div class="project-info">
      <h2>Diary Dawn</h2>
      <p>Diary Dawn is a comprehensive journaling platform designed to help users track their thoughts, feelings, and
        experiences. Featuring various diary entry types such as gratitude, affirmation, and dream journals, Diary Dawn
        leverages machine learning to provide insightful superpower analyses and personalized feedback. Explore the many
        tools and features aimed at enhancing your mental well-being and self-discovery.</p>
      <button class="diary-dawn-button" (click)="navigateTo('project-diary-dawn')">Explore Diary Dawn</button>
    </div>
  </div>
  <div class="project" id="cortex-connections">
    <div class="project-visual">
      <img src="assets/images/adhd_dict_maps.png" alt="ADHD Cortex Connections Image" class="project-image">
      <img src="assets/images/neurotypical_dict_maps.png" alt="Neurotypical Cortex Connections Image"
        class="project-image">
    </div>
    <div class="project-info">
      <h2>Cortex Connections</h2>
      <p>Cortex Connections is a neuroscience project focused on exploring the differences in brain connectivity between
        individuals with ADHD and neurotypical individuals. Utilizing advanced neuroimaging techniques and machine
        learning algorithms, this project aims to visualize and analyze brain activity to uncover unique patterns and
        insights. Dive into the fascinating world of brain connectivity and discover the intricacies of the human mind.
      </p>
      <button class="cortex-connections-button" (click)="navigateTo('project-cortex-connections')">Explore Cortex
        Connections</button>
    </div>
  </div>
</div>