.delete-dialog-container {
  padding: 24px;
  max-width: 500px;
}

.delete-book-dialog {
  margin-bottom: 16px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.mat-checkbox {
  margin-bottom: 16px;
}

.mat-raised-button {
  margin-right: 8px;
}

.mat-button {
  margin-right: 8px;
}