<div class="overview-container">
  <h2>Diary Dawn Overview</h2>
  <p><strong>Diary Dawn</strong> is a cutting-edge web application designed to help users gain insights into their
    personal growth and development through the power of machine learning and artificial intelligence. Built with a
    robust tech stack, including Angular for the front end, Nest.js for handling general application logic, Flask for
    machine learning tasks, PostgreSQL for the database, and AWS for hosting, Diary Dawn exemplifies modern web
    development practices.</p>
  <div class="image-gallery">
    <img src="assets/images/diarydawn_setup_1.jpg" alt="Computer Setup 1" class="setup-image">
    <!-- <img src="assets/images/diarydawn_setup_2.jpg" alt="Computer Setup 2" class="setup-image"> -->
  </div>
  <h3>Key Features:</h3>
  <ul>
    <li><strong>Intelligent Diary Entries:</strong> Users can create diary entries that are analyzed by advanced AI
      algorithms to provide personalized insights.</li>
    <li><strong>User-Friendly Interface:</strong> A sleek and intuitive design ensures a seamless user experience,
      making it easy for anyone to navigate and utilize the app's features.</li>
    <li><strong>Privacy and Security:</strong> With a strong emphasis on user privacy, all data is securely stored and
      processed, ensuring that personal information remains confidential.</li>
    <li><strong>Machine Learning Classifiers:</strong> The app employs sophisticated ML classifiers through a Flask
      backend to analyze text entries, offering users valuable perspectives on their writing.</li>
    <li><strong>Integrated ChatGPT:</strong> Diary Dawn integrates ChatGPT in two ways: a publicly available version for
      anyone to try, and an enhanced version for authorized users that helps explain results and provides additional
      support.</li>
  </ul>
  <p>Diary Dawn is more than just a project; it is a testament to the power of modern technology in enhancing personal
    development. The journey of creating this application involved countless hours of coding, testing, and refining,
    supported by a dedicated setup of multiple computers working in harmony.</p>
</div>